.allunits{
  height: 100%;
  display: grid;
  background-color: rgb(222, 222, 213);
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10%;
  text-align: center ;
  border: solid;
  border-radius: 5px;
  border-color:  rgb(222, 222, 213);
  padding: 10px;
}
.all{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 50px;
  margin: 10%;
  text-align: center;
}
.units{
    background-color: rgb(222, 222, 213);


}
.members{
  height: 5vw;
  background-color: aliceblue;
  display: grid;
  margin: 10px;
  
}
.title{
  height: 5vw;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  text-align: inherit;


}
